
html {
    scroll-behavior: smooth;
  }
  
  
  // landing

.caption {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem 1rem 10%;
    left: 0;
    .page-title {
        font-size: 4.813rem;
        color:white;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h4.sub-title {
        font-size: 2.813rem;
        color:white;   
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &::after {
        
    }
}


.globally {
    
    margin-top: 2rem;
    h2 {
        padding: .3rem 1rem .3rem 6rem;
        font-size: 2.4rem;
        text-transform: uppercase;
        display: inline-block;
        position: absolute;
        left: -80px;
        z-index: 1;
    }
    p {
        margin: 0;
        padding:0 0 1rem 2rem;
        font-size:.8rem;
        strong {
            font-weight: 700;
            font-size:1rem;
        }
        img {
            margin-right: 10px;
        }
    }
    .time {
        margin-top: 5rem;
    }
}
.worldWide {
    position: relative;
    z-index: 9;
    &.egypt {
        top:-31px;
    }
}
.green {color:#009459}
.red {color:#940000}
.text-blue {
    color:#0066CC;    
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    strong {
        font-weight: 700;
    }
}

.sta-numbers {
    margin-top: 2rem;
    h2 {
        font-size:3rem;
    }
}

.rateNumbers {
    .border {
        padding:2rem 0rem;
        background: white;
        hr {
            width:90%;
        }
        h2 {
            font-size: 3rem;
        }
        h3 {
            font-size: 1.7rem;
        }
    }
}
.monthly {
    .blocks {
        margin-top: 3rem;
        margin-bottom: 3rem;
        .border li {
            padding:0 10px;
            &:nth-child(4), &:nth-child(5) {
                background-color: #CCE0F5;
            }
        }
    }
    &.chartSection {
        overflow: hidden;
    }
}
.ratepercentage {
    &.bg-dark {
        background-color: #BABABA !important;
        height: 12px;
        margin-top: 7px;
    }
    
}
.blocks {
    .col-md-4 {
        text-align: right;    
        padding: 5px 0;   
    }
    .col-md-8 {
        &::before {
            width: 1px;
            height: 100%;
            border: .5px solid #000000;
            content:'';
            position: absolute;
            left: 15px;
            top: 0;
        }
    }
}
.rateRange {
    padding:5px 0;
}
section.bg-light {
    p {
        margin:0;
        padding:0;
        font-size:1.4rem;
    }
    h2 {
        color: #0066CC;
        font-size: 3rem;
        margin:0;
        padding:0;
    }
    hr {
        background-color: black;
    }
}

.chartContainer {
    svg.chart, svg.chart2 {
        float: right;
    }
}
        .axis {
            font: 13px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .bar {
        fill: #707070;
        }

        .bar:hover {
        fill: orangered ;
        }

        .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
        }

        /* Creates a small triangle extender for the tooltip */

        .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
        }


        .notes {
        font-size: 12px;
        font-family: sans-serif;
        color: steelblue;
        padding: 5px;
        text-align: center;
        }


        
#chart {
    max-width: 100%;
    margin: 35px auto;
    width: 100%;
    height: inherit;
    .apexcharts-canvas {

    }
  }
  
  #HorizontalChart2 {
      path {
          height: 12px;
      }
  }
.apexcharts-toolbar {
    display: none !important;
}
  
path {
    fill:#707070 !important;
    border-radius: 5px !important;
    &:hover {
        fill: #0066CC!important;
    }
}

#HorizontalChart, #HorizontalChart2 {
    .apexcharts-canvas {
        position: relative;
        &::after {
            content: '';
            background-color: #E2EEF9;
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 140px;

        }
        svg {
            z-index: 2;
            position: relative;
        }
    }
    .apexcharts-xaxis.apexcharts-yaxis-inversed {
        display: none;
    }
    .apexcharts-yaxis.apexcharts-xaxis-inversed {
        line {
            stroke: rgb(0, 0, 0) !important;
        }
    }
}